.pagination {
    display: flex;
    flex-direction: row;
}

.map-control {
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

.leaflet-interactive {
    stroke: black;
    stroke-width: 2px;
    fill-opacity: 0.8;
}