.pagination {
    display: flex;
    flex-direction: row;
}

.map-control {
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#map-left {
    position: absolute;
    top: 0;
    left: 10%;
    width: 5%;
    height: 70vh;
}

#map-right {
    position: absolute;
    top: 0;
    left: 85%;
    width: 5%;
    height: 70vh;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: none;
    z-index: 2;
    opacity: 0.5;
    background-color: white;
}

.pagination:hover {
    background-color: #eee;
    cursor: pointer;
}

.leaflet-interactive {
    stroke: black;
    stroke-width: 2px;
    fill-opacity: 0.9;
}